<section id="filters" class="row">
    <div id="gamers">
        <h3>Gamers</h3>
        <ul>
            <li class='gamer' ng-repeat="gamer in gamers track by gamer.id">
                <span>{{ gamer.name }}</span>
                <ul class="friends" >
                    <li class='friend' ng-repeat="friend in gamer.friends track by friend.id">
                        <span>{{ friend.name }}</span>
                        <a href="#" ng-click="select">add</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</section>

<div id="tableContainer">
    <h3>Games (<a href="#" ng-click="showFilterDialog">filter</a>)</h3>

    <table>
        <thead>
            <tr>
                <th>Game</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="game in games track by game.id">
                <td class="iconCol">
                    <a ng-href="{{ game.gameUrl }}" target="_blank">
                        <img ng-src="{{ game.iconUrl }}">
                    </a>
                </td>
                <td> {{ game.name }}</td>
            </tr>
        </tbody>
    </table>
</div>
