<section id="filters" class="row">
    <div id="gamers">
        <h3>Gamers</h3>
        <ul>
            <li class='gamer' ng-repeat="gamer in gamers | orderBy:'name' track by gamer.id">
                <span>{{ gamer.name }}</span>
                <ul class="friends" >
                    <li class='friend' ng-repeat="friend in gamer.friends | orderBy:'name' track by friend.id">
                        <span>{{ friend.name }}</span>
                        <a href="#" ng-click="select">add</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</section>

<div id="tableContainer">
    <h3>Games (<a ng-href="#/filters">filter</a>)</h3>

    <div>
        Views: Table | <a ng-href="#/cards">Cards</a>
    </div>
    <table>
        <thead>
            <tr>
                <th>Game</th>
                <th>Players</th>
                <th>Genres</th>
                <th>Features</th>
                <th></th>
            </tr>
        </thead>
        <tfoot>
            <td colspan="5">
                <ul class="pagination">
                    <li ng-class="{disabled: currentPage == 0}">
                        <a href ng-click="prevPage()"><< prev</a>
                    </li>

                    <li ng-repeat="n in range(pagedItems.length, currentPage, currentPage + gap) "
                        ng-class="{active: n == currentPage}"
                        ng-click="setPage()">
                        <a href ng-bind="n + 1">1</a>
                    </li>

                    <li ng-class="{disabled: currentPage == pagedItems - 1}">
                        <a href ng-click="nextPage()">next >></a>
                    </li>
                </ul>
            </td>
        </tfoot>
        <tbody>
            <tr ng-repeat="game in pagedItems[currentPage] | orderBy: 'name' track by game.id">
                <td class="iconCol">
                    <a ng-href="{{ game.gameUrl }}" target="_blank">
                        <img ng-src="{{ game.iconUrl }}" alt="{{ game.name }}">
                    </a>
                </td>
                <td>{{ game.players.join(', ') }}</td>
                <td>{{ game.genres.join(', ') }}</td>
                <td>{{ game.features.join(', ') }}</td>
                <td>
                    <a ng-href="steam://run/{{ game.id }}">Play {{ name }}</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>
